<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link ref="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link ref="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <script src="/static/js/myScripts.js"></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href="/static/css/myStyle.css" type="text/css" />
</head>
<body>

<div id='map'></div>

</body>
</html>